[Desktop Entry]
Icon=text-html
Name=https://nbp.pl/statystyka-i-sprawozdawczosc/kursy/tabela-a/
Type=Link
URL[$e]=https://nbp.pl/statystyka-i-sprawozdawczosc/kursy/tabela-a/
